@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  overscroll-behavior: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  letter-spacing: 0.023rem;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #17171f;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

input {
  outline: none;
  border: none;
}

#root {
  display: flex;
  justify-content: center;
}
