.game {
  width: 100%;
  display: flex;
  gap: 32px;
  background: #1d1d27;
  border-radius: 12px;
}

.game__img {
  position: relative;
  width: 220px;
  aspect-ratio: 3/4;
  border-radius: 12px;
  overflow: hidden;
  border: 5px solid #2a2a36;
}

.game__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.game__caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 12px 8px;
}

.game__caption > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.game__caption > div > span {
  color: #e6e6f8;
  font-size: 14px;
  font-weight: 600;
  padding: 8px;
  border-radius: 8px;
  background: #34a47c;
}

.game__caption > div > p {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  background: #3e3f4f;
  padding: 8px;
  gap: 4px;
}

.game__caption > div > p span {
  color: #e6e6f8;
  font-size: 14px;
  font-weight: 600;
}

.game__caption > div > p i {
  color: #9191a4;
  font-size: 12px;
  font-weight: 600;
}

.game__caption > p {
  color: #e6e6f8;
  font-size: 14px;
  font-weight: 600;
}

.game__info {
  width: calc(100% - 220px);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.game__info__header {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 20px 20px 0 0;
}

.game__info__header > button {
  color: #9191a4;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  background: none;
  padding: 4px 0;
  border: none;
  transition: all 0.1s ease;
}

.game__info__header > button svg {
  font-size: 20px;
}

.game__info__header > button:hover {
  color: #e6e6f8;
}

.game__info__header > button:active {
  color: #9191a4;
}

.game__info__header > h1 {
  color: #e6e6f8;
  font-size: 20px;
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.game__header__actions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.game__hashtags {
  list-style: none;
  width: 100%;
  display: flex;
  gap: 8px;
}

.game__hashtags > li {
  color: #65a0d7;
  font-size: 12px;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 8px;
  background: #65a0d714;
}

.game__next__prev {
  display: flex;
  gap: 10px;
}

.game__next__prev button {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #575c6d;
  background: none;
  color: #575c6d;
  font-size: 20px;
  border-radius: 8px;
  transition: all 0.1s ease;
}

.game__next__prev button:hover {
  color: #e6e6f8;
  border-color: #e6e6f8;
}

.game__next__prev button:active {
  color: #575c6d;
  border-color: #575c6d;
}

.game__lavels {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 80px;
  height: 80px;
  padding: 10px;
  background: #17171f;
  border-radius: 50% 0 50% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game__lavels > div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("./img/box.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
}

.game__lavels > div p {
  color: #e6e6f8;
  font-size: 16px;
  font-weight: 600;
}

.game__images {
  width: 100%;
  padding-bottom: 5px;
}

.game__image {
  width: 100%;
}

.game__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.game__images .slick-arrow {
  display: none !important;
}

.game__images .slick-track {
  display: flex;
  gap: 10px;
}

@media (max-width: 768px) {
  .game {
    flex-direction: column;
    gap: 20px;
  }

  .game__img {
    width: 100%;
    aspect-ratio: 16/9;
  }

  .game__info {
    width: 100%;
  }

  .game__info__header {
    padding: 20px 20px 0 20px;
  }
}

@media (max-width: 540px) {
  .game__info__header {
    padding-right: 0px;
    padding: 1% 3%;
  }

  .game__info__header > h1 {
    font-size: 18px;
  }

  .game__info__header > button {
    font-size: 12px;
  }

  .game__caption > div > span {
    font-size: 12px;
  }

  .game__caption > div > p span {
    font-size: 12px;
  }

  .game__caption > div > p i {
    font-size: 10px;
  }

  .game__caption > p {
    font-size: 12px;
  }

  .game__hashtags {
    flex-wrap: wrap;
  }

  .game__hashtags > li {
    font-size: 10px;
  }

  .game__next__prev {
    display: none;
  }

  .game__lavels {
    top: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    padding: 5px;
  }

  .game__lavels > div p {
    font-size: 12px;
  }
}
